body{
    background-color: #0A090D;
    color: white;
    text-align: center;
    padding: 100px 0;
} 
.button{
    background-color: #9847FE;
    color: white;
    padding: 12px 30px ;
    cursor: pointer;
}

h3{
    font-size: 100px;
    line-height: 0;
}